
<input [(ngModel)]="searchTerm" #category (keyup)='onkeyup(category.value)' placeholder="Search categories" />

<kendo-treeview textField="text"
                [animate]="true"
                [nodes]="parsedData"
                [children]="children"
                [hasChildren]="hasChildren"
                kendoTreeViewExpandable
                kendoTreeViewHierarchyBinding>
  <ng-template kendoTreeViewNodeTemplate let-dataItem>
    {{dataItem.text}}
    <span *ngIf="!(!!dataItem.items)">
      <button kendoButton icon="plus" look="flat" (click)="onAddClick(dataItem)"></button>
    </span>
  </ng-template>
</kendo-treeview>



