
  <input [(ngModel)]="searchTerm" #category (keyup)='onkeyup(category.value)' placeholder="Search categories" />
  
    <kendo-treeview textField="text"
                    [animate]="true"
                    [nodes]="parsedData"
                    [children]="children"
                    [hasChildren]="hasChildren"
                    kendoTreeViewExpandable
                    kendoTreeViewHierarchyBinding>
      <ng-template kendoTreeViewNodeTemplate let-dataItem>
        {{dataItem.text}}
        <span *ngIf="!(!!dataItem.items)">
          <button kendoButton icon="plus" look="flat" (click)="onAddClick(dataItem)"></button>
        </span>
      </ng-template>
    </kendo-treeview>
  


<!--<div class="lstr-tree-view">
  <input [(ngModel)]="searchTerm" #category (keyup)='onkeyup(category.value)' placeholder="Search categories" />
  <kendo-treeview textField="text"
                  [animate]="false"
                  [nodes]="parsedData"
                  [children]="children"
                  [hasChildren]="hasChildren"
                  [(selectedKeys)]="selectedKeys"
                  (selectionChange)="handleSelection($event)"
                  kendoTreeViewExpandable
                  kendoTreeViewSelectable
                  kendoTreeViewHierarchyBinding
                  [kendoTreeViewCheckable]="checkableSettings"
                  [(checkedKeys)]="checkedKeys"
                  (checkedChange)="handleChecking($event)">
    <ng-template kendoTreeViewNodeTemplate let-dataItem>
      <span [ngClass]="iconClass(dataItem)"></span>
      {{dataItem.text}}
    </ng-template>
  </kendo-treeview>
</div>-->
