<div *ngIf="condition" class="row condition grid-container">
  <div class="conjunction-view">
    <ng-container *ngTemplateOutlet="conjunctionEditMode; context:{data: condition}"></ng-container>
  </div>
  <div class="text-view">
    <ng-container *ngTemplateOutlet="keyEditMode; context:{data: condition}"></ng-container>
  </div>
  <div class="operator-view">
    <ng-container *ngTemplateOutlet="operatorEditMode; context:{data: condition}"></ng-container>
  </div>
  <div class="value-view">
    <ng-container *ngTemplateOutlet="valueEditMode; context:{data: condition}"></ng-container>
  </div>
  <div class="btn-delete-view">
    <button kendoButton icon="minus" look="flat" (click)="onRemoveClick(condition)"></button>
  </div>
  <div class="btn-add-view">
    <button kendoButton icon="plus" look="flat" (click)="onAddConditionClick(condition)"></button>
  </div>
  <div *ngIf="condition.conditions.length > 0" style="font-weight:bold">
    <span><a #conjunctiontarget href="javascript:void(0);">{{condition.conjunction == 'and' ? 'all' : 'any'}} </a></span>
    <span>of the following apply</span>
  </div>
</div>

<ng-template #keyEditMode let-data="data">
  <div>
    <a #keytarget href="javascript:void(0);">{{data.text}}</a>
  </div>
  <kendo-contextmenu [target]="keytarget" [items]="qbSvc.modelMetaDataCurrent | async" showOn="click"  [anchorAlign]="left" [alignToAnchor]="true">
    <ng-template kendoMenuItemTemplate let-dataItem="item">
      {{dataItem.text}}
      <span *ngIf="!(!!dataItem.items)">
        <button kendoButton icon="plus" look="flat" (click)="onSelectKeyClick(dataItem, data)"></button>
      </span>
    </ng-template>
  </kendo-contextmenu>
</ng-template>

<kendo-contextmenu [target]="conjunctionTarget" [items]="conjunctionList" showOn="click"  [anchorAlign]="left" [alignToAnchor]="true">
  <ng-template kendoMenuItemTemplate let-dataItem="item">
    <div (click)="onConjunctionClick(dataItem);">{{dataItem.text}}</div>
  </ng-template>
</kendo-contextmenu>

<ng-template #operatorEditMode let-data="data">
  <kendo-dropdownlist [(ngModel)]="data.operator"
                      (valueChange)="operatorChange($event, data)"
                      [defaultItem]="defaultItem"
                      [data]="operatorList"
                      [textField]="'text'"
                      [valuePrimitive]="true"
                      [valueField]="'value'" class="qb-operator-dropdown">
  </kendo-dropdownlist>
</ng-template>

<ng-template #conjunctionEditMode let-data="data">
  <span *ngIf="data.parent.conditions.indexOf(data) > 0" >{{data.parent.conjunction}}</span>
  <!--<span *ngIf="data.parent.conditions.indexOf(data) > 0">{{data.conjunction}}</span>-->
</ng-template>

<!--<ng-template #conjunctionEditMode let-data="data">
  <kendo-dropdownlist

                      [data]="conjunctionList"
                      [textField]="'text'"
                      [valuePrimitive]="true"
                      [valueField]="'value'" class="qb-conjunction-dropdown">
  </kendo-dropdownlist>
</ng-template>-->

<ng-template #valueEditMode let-data="data">
  <input #box kendoTextBox [(ngModel)]="data.value" class="qb-textbox"
         (keyup.enter)="onValueChanged(box.value)"
         (blur)="onValueChanged(box.value)" />
</ng-template>




<ng-template #keyStaticMode let-data="data">{{data.text}}</ng-template>
<ng-template #operatorStaticMode let-data="data">{{data.operator}}</ng-template>
<ng-template #valueStaticMode let-data="data">{{data.value}}</ng-template>




