<div class="container">
  <div class="grid-container">
    <div class="main-view">

        <div class="tree-view">
          <tile title="tree">
            <query-builder-tree></query-builder-tree>
          </tile>
        </div>
        <div class="central-view">
          <div class="conditions-view">
            <tile title="conditions">
              <query-builder-conditions></query-builder-conditions>
            </tile>
          </div>
          <div class="result-view">
            <tile title="results">
              <query-builder-results></query-builder-results>
            </tile>
          </div>
        </div>
        <div class="menu-view">
          <tile title="menu">
            <query-builder-menu></query-builder-menu>
          </tile>
        </div>

      </div>
    <div class="header-view">
      <h3>Rules Builder</h3>
    </div>
    <div class="footer-view">
      © Copyright 2019
    </div>
  </div>
</div>



